@import "./components/slider/SliderCompo.module.css";
@import "./components/header/Header.module.css";
@import "./components//perfumeAccessoryTab/perfumeAccessoryTab.module.css";
@import "./components/bestProduct/BestProduct.module.css";
@import "./components/latestProduct/LatestProduct.module.css";
@import "./components//footer/Footer.module.css";
@import "./styles/routes/detail.module.css";
@import "./styles/routes/common/MappingProductsAll.module.css";
@import "./styles/routes/cart.module.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
